{% include header.html %}
{% include head.html %}

<img class="bg" src="{{ site.baseurl }}/assets/img/profile.png" />

<div class="wrapper">
<h2>{{ page.title }}</h2>

<div class="wrapper no-mobile">
<ul id="sb-slider" class="sb-slider">
  {% if page.cover %}
  <li>
    <img class="front-cover" src="{{ baseurl }}/assets/img/covers/{{ page.cover }}" alt="{{ page.title }}"/>
    <div class="sb-description">
      {% if page.published %}
           <h3>{{ page.title }}</h3>
           <p>{{ page.description }}</p>
      {% else %}
        <h3>Coming Soon: {{ page.title }}</h3>
      {% endif %}
    </div>
  </li>
  {% endif %}
  {% if page.backcover %}
  <li>
    <img class="front-cover" src="{{ baseurl }}/assets/img/backcovers/{{ page.backcover }}" alt="{{ page.title }}"/>
    <div class="sb-description">
      {% if page.published %}
           <h3>{{ page.title }}</h3>
           <p>{{ page.description }}</p>
      {% else %}
        <h3>Coming Soon: {{ page.title }}</h3>
      {% endif %}
    </div>
  </li>
  {% endif %}
</ul>

<div id="shadow" class="shadow"></div>

<div id="nav-arrows" class="nav-arrows">
  <a href="#">Next</a>
  <a href="#">Previous</a>
</div>
</div><!-- /wrapper -->

<div class="wrapper only-mobile">
<div class="post-cover">
<img src="/assets/img/covers/{{ page.cover }}" alt="{{ page.title }}"/>
</div>
</div>

<p class="book-description only-mobile">
  {% if page.prequel %}
  <a href="{{ site.baseurl }}/{{ page.prequel }}">Proceeded by {{ page.prequel-title }}</a>
  <br><br>
  {% endif %}
  {{ page.description }}
  {% if page.sequel %}
  <br><br>
  <a href="{{ site.baseurl }}/{{ page.sequel }}">Followed by {{ page.sequel-title }}</a>
  {% endif %}
</p>
<br><br>
{% if page.wattpad %}
<div class="store-link">
<a href="http://www.wattpad.com/story/{{ page.wattpad }}" target="_blank">
  <img class="book-icon" src="{{ site.baseurl }}/assets/img/stores/wattpad.png" alt="Wattpad" />
  {% if page.wattpad %}
  <p class="book-icon">$0</p>
  {% endif %}
</a>
</div>
{% endif %}
<br>

{% if page.kobo %}
<div class="store-link">
<a href="http://store.kobobooks.com/en-US/ebook/{{ page.kobo }}" target="_blank">
  <img class="book-icon" src="{{ site.baseurl }}/assets/img/stores/kobo.png" alt="Kobo" />
  {% if page.kobo-cost %}
  <p class="book-icon">${{ page.kobo-cost }}</p>
  {% endif %}
</a>
</div>
{% endif %}
<br>

{% if page.kindle %}
<div class="store-link">
<a href="https://www.amazon.com/dp/{{ page.kindle }}" target="_blank">
  <img class="book-icon" src="{{ site.baseurl }}/assets/img/stores/kindle.png" alt="Kindle" />
  {% if page.kindle-cost %}
  <p class="book-icon">${{ page.kindle-cost }}</p>
  {% endif %}
</a>
</div>
{% endif %}
<br>

{% if page.lulu %}
<div class="store-link">
<a href="http://www.lulu.com/shop/{{ page.lulu }}" target="_blank">
  <img class="book-icon" src="{{ site.baseurl }}/assets/img/stores/lulu.png" alt="Lulu" />
  {% if page.lulu %}
  <p class="book-icon">${{ page.lulu-cost }}</p>
  {% endif %}
</a>
</div>
{% endif %}
<br>
</div>

{% include scripts.html %}
{% include footer.html %}
